@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Luxurious Roman', cursive;
  text-align: center;
  color: #ffffff;
}

.hide {
  display: none;
}

body {
  background-color: #183BFF;
}

.navbar {
  background-color: #183BFF;
}

#welcomeTop {
  padding-top: 20px;
}

#presentationRow {
  padding-top: 20px;
}

.gameColon,
.gameChoices {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-family: 'Luxurious Roman', cursive;
  text-align: center;
  color: #ffffff;
}

.btn {
  font-family: 'Luxurious Roman', cursive;
  background-color: #FF5F0A;
  color: #ffffff;
}

.card-body {
  background-color: #183BFF;
}

.correct {
  color: #ffffff;
  background-color: #17fc03;
}

.wrong {
  background-color: #e41111;
  color: #ffffff;
}

.buttonsGrid {
  margin-top: 30px;
}

#next-btn,
#finish-btn {
  margin-top: 30px;
}

footer {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-top: 20px;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}

#questionNumber {
  padding-top: 30px;
  padding-bottom:  30px;
}

#gameRow {
  font-family: 'Luxurious Roman', cursive;
}

#github {
  text-decoration: none;
  color: #FF5F0A;
}

#github:hover {
border: 1px solid white;
border-radius: 25px;
background-color: #ffffff;
color: #183BFF;
transition-duration: 1s;
padding-left: 10px;
padding-right: 10px;
}

#navbar-brand {
  font-family: 'Luxurious Roman', cursive;
  background-color: #FF5F0A;
  border: 1px solid #FF5F0A;
  border-radius: 25px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-brand:hover,
.btn:hover
 {
  font-family: 'Luxurious Roman', cursive;
  background-color: #FF8A00;
  color: #ffffff;
  transition-duration: 1s;
  padding-left: 15px;
  padding-right: 15px;
}

