@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Luxurious Roman', cursive;
  text-align: center;
  color: #ffffff;
}

.hide {
  display: none;
}

body {
  background-color: #183BFF;
  
}

#welcomeTop {
  padding-top: 20px;
}

#presentationRow {
  padding-top: 20px;
}

.gameColon,
.gameChoices {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-family: 'Luxurious Roman', cursive;
  text-align: center;
  color: #ffffff;
}

.btn {
  font-family: 'Luxurious Roman', cursive;
  background-color: #FF5F0A;
  color: #ffffff;
}



.correct {
  color: #ffffff;
  background-color: #17fc03;
}

.wrong {
  background-color: #e41111;
  color: #ffffff;
}

.buttonsGrid {
  margin-top: 30px;
}

#next-btn,
#finish-btn {
  margin-top: 30px;
}

footer {
  border: 3px solid black;
  padding-top: 30px;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}


#questionNumber {
  padding-top: 30px;
  padding-bottom:  30px;
}

#gameRow {
  font-family: 'Luxurious Roman', cursive;
}

a {
  text-decoration: none;
  color: #FF5F0A;
  font-weight: bold;
}
