h1,
h2,
h3 {
  text-align: center;
}

.hide {
  display: none;
}

body {
  background-color: green;
}

#welcomeTop {
  padding-top: 20px;
}

#presentationRow {
  padding-top: 20px;
}

.gameColon,
.gameChoices {
  padding-top: 20px;
}