h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.hide {
  display: none;
}

body {
  background-color: aliceblue;
}

#welcomeTop {
  padding-top: 20px;
}

#presentationRow {
  padding-top: 20px;
}

.gameColon,
.gameChoices {
  padding-top: 20px;
}

p {
  text-align: center;
}

.btn {
  background-color: aquamarine;

}

.correct {

  background-color: green;
}

.wrong {
  background-color: red;
}

.buttonsGrid {
  margin-top: 30px;
}

#next-btn,
#finish-btn {
  margin-top: 30px;
}

