@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Luxurious Roman", cursive;
  text-align: center;
  color: #ffffff;
}

.hide {
  display: none;
}

body {
  background-color: #183bff;
}

.navbar {
  background-color: #183bff;
}

#welcome-top {
  padding-top: 20px;
}

#welcome-middle {
  padding-bottom: 30px;
}

#presentation-row {
  padding-top: 20px;
}

.game-colon,
.game-choices {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-family: "Luxurious Roman", cursive;
  text-align: center;
  color: #ffffff;
}

.btn {
  font-family: "Luxurious Roman", cursive;
  background-color: #ff5f0a;
  color: #ffffff;
}

.card-body {
  background-color: #183bff;
}

.correct {
  color: #ffffff;
  background-color: #17fc03;
}

.correct-text {
  background-color: #17fc03;
  color: #ffffff;
}

.wrong-text {
  background-color: #e41111;
  color: #ffffff;
}

.wrong {
  background-color: #e41111;
  color: #ffffff;
}

.buttons-grid {
  margin-top: 30px;
}

#next-btn,
#finish-btn {
  margin-top: 30px;
}

.what-next {
  padding-top: 30px;
}

footer {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-top: 20px;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}

#question-number {
  padding-top: 30px;
  padding-bottom: 30px;
}

#game-row {
  font-family: "Luxurious Roman", cursive;
}

#navbar-brand,
#github {
  font-family: "Luxurious Roman", cursive;
  text-decoration: none;
  background-color: #ff5f0a;
  border: 1px solid #ff5f0a;
  border-radius: 25px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.btn:hover {
  color: #ffffff;
}

#navbar-brand:hover,
#github:hover,
.answer-btn:hover,
#submit-button:hover,
#next-btn,
#finish-btn,
#choose-topic {
  font-family: "Luxurious Roman", cursive;
  background-color: #ff8a00;
  color: #ffffff;
  transition-duration: 1s;
  padding-left: 15px;
  padding-right: 15px;
}

#choose-topic {
  margin-bottom: 30px;
}

.navbar .navbar-collapse {
  text-align: center;
}
